---
export interface Props {
  size?: Size;
  id?: string;
  type?:
    | "button"
    | "checkbox"
    | "color"
    | "date"
    | "datetime-local"
    | "email"
    | "hidden"
    | "number"
    | "radio"
    | "range"
    | "reset"
    | "search"
    | "submit"
    | "tel"
    | "text"
    | "time"
    | "url"
    | "week";
  label?: string;
  labelPosition?: LabelPosition;
  error?: string;
  helperText?: string;
  required?: boolean;
  leftIcon?: string;
  rightIcon?: string;
  className?: string;
  autocomplete?: string;
}

export type Size = "sm" | "md" | "lg";

export type LabelPosition = "inside" | "outside" | "edge";

const heightSizeStyles = {
  inside: {
    sm: "h-11",
    md: "h-12",
    lg: "h-14",
  },
  edge: {
    sm: "h-7",
    md: "h-9",
    lg: "h-11",
  },
  outside: {
    sm: "h-7",
    md: "h-9",
    lg: "h-11",
  },
};

const iconSizeStyles = {
  sm: "text-sm",
  md: "text-base",
  lg: "text-xl",
};

const inputTextStyles: { [key: string]: string } = {
  sm: "text-xs tracking-normal",
  md: "text-sm tracking-normal",
  lg: "text-base tracking-wide",
};

const {
  size = "md",
  label,
  labelPosition = "edge",
  error,
  helperText = "",
  required = true,
  id,
  leftIcon,
  rightIcon,
  className,
  type = "text",
  autocomplete,
} = Astro.props;
---

<div
  class:list={[
    "Input-container group relative w-full",
    labelPosition === "outside" && "mt-2",
    error && "error",
    className,
  ]}
>
  <div>
    {
      leftIcon && (
        <i
          class:list={[
            "bi absolute text-grey-500",
            "bi-" + leftIcon,
            iconSizeStyles[size],
          ]}
        />
      )
    }
    <input
      id={id}
      required={required}
      type={type}
      placeholder={label}
      autocomplete={autocomplete}
      class:list={[
        "peer w-full px-2 text-grey-800 outline-0 transition-all placeholder:text-transparent",
        "relative z-10 flex items-center justify-between rounded-xl border border-grey-300 px-3 transition-all focus:border-brand-500 group-[.error]:border-error-700",
        labelPosition === "inside" && "pt-4",
        inputTextStyles[size],
        heightSizeStyles[labelPosition][size],
      ]}
    />
    {
      label && (
        <label
          data-position={labelPosition}
          data-size={size}
          for={id}
          class:list={[
            "pointer-events-none absolute left-0 top-0 z-10 origin-[0_0] font-sans text-grey-500 transition-transform peer-focus:text-grey-800",
            "group-[.error]:text-error-700 group-[.error]:peer-focus:text-error-700",
            labelPosition === "inside" &&
              "left-4 top-4 transition-[opacity,_transform] duration-200 ease-linear peer-focus:-translate-x-2 peer-focus:-translate-y-2.5 peer-focus:scale-[0.8] peer-focus:text-brand-500 peer-[:not(:placeholder-shown)]:-translate-x-1 peer-[:not(:placeholder-shown)]:-translate-y-2.5 peer-[:not(:placeholder-shown)]:scale-[0.8] motion-reduce:transition-none",
            labelPosition === "inside" &&
              size === "sm" &&
              "peer-focus:scale-[0.95] peer-[:not(:placeholder-shown)]:scale-[0.95]",
            labelPosition === "inside" &&
              leftIcon &&
              "left-10 peer-focus:left-10 peer-[:not(:placeholder-shown)]:left-10",
            labelPosition === "outside" && size === "sm" && "-top-5 left-1",
            labelPosition === "outside" && size === "md" && "-top-5 left-1",
            labelPosition === "outside" && size === "lg" && "-top-7 left-1",
            labelPosition === "edge" &&
              "transition-[opacity,_transform] duration-200 ease-linear peer-focus:translate-x-3 peer-focus:bg-white peer-focus:px-1 peer-focus:py-0 peer-focus:text-brand-500 peer-[:not(:placeholder-shown)]:-translate-x-1.5 peer-[:not(:placeholder-shown)]:bg-white peer-[:not(:placeholder-shown)]:px-1 motion-reduce:transition-none",
            labelPosition === "edge" &&
              size === "sm" &&
              "px-4 py-1.5 peer-focus:-translate-y-1 peer-focus:scale-[0.95] peer-[:not(:placeholder-shown)]:-translate-y-3.75 peer-[:not(:placeholder-shown)]:scale-[0.95]",
            labelPosition === "edge" &&
              size === "md" &&
              "px-4 py-2.5 peer-focus:-translate-y-2.5 peer-focus:scale-[0.85] peer-[:not(:placeholder-shown)]:-translate-y-2.5 peer-[:not(:placeholder-shown)]:scale-[0.85]",
            labelPosition === "edge" &&
              size === "lg" &&
              "px-4 py-3 peer-focus:-translate-y-2 peer-focus:scale-[0.8] peer-[:not(:placeholder-shown)]:-translate-y-6 peer-[:not(:placeholder-shown)]:scale-[0.8]",
            labelPosition === "edge" &&
              leftIcon &&
              "left-10 peer-focus:-translate-x-9 peer-[:not(:placeholder-shown)]:-translate-x-9",
            labelPosition === "edge" &&
              size === "sm" &&
              leftIcon &&
              "left-10 peer-focus:-translate-x-8 peer-[:not(:placeholder-shown)]:-translate-x-8",

            inputTextStyles[size],
          ]}
        >
          {label}
        </label>
      )
    }
    <i
      class:list={[
        "bi bi-exclamation-circle pointer-events-none absolute z-10 mr-2 text-error-700",
        "hidden group-[.error]:block",
        size === "sm" && "right-2 top-1",
        size === "md" && "right-2 top-1.5",
        size === "lg" && "right-2 top-2",
        labelPosition === "inside" && size === "sm" && "!top-3",
        labelPosition === "inside" && size === "md" && "!top-3",
        labelPosition === "inside" && size === "lg" && "!top-4",
        iconSizeStyles[size],
      ]}></i>
    {
      rightIcon && (
        <i
          class:list={[
            "bi text-grey-500",
            "bi-" + rightIcon,
            iconSizeStyles[size],
          ]}
        />
      )
    }
  </div>
  <div class="flex">
    <div id=`${id}_error` class="mt-1 text-xs text-error-700">{error}</div>
    <div id=`${id}_helper` class="mt-1 text-xs text-grey-500">{helperText}</div>
  </div>
</div>
